.talkListItemWrapper {
  border: 1px solid #eee;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: white;

  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "thumbnail info-box info-box"
    ;
  cursor: pointer;
}

.selectedTalkListItem {
  border: 1px solid grey;
}

.thumbnailBox {
  grid-area: thumbnail;
  /* border: 1px solid red; */
  padding: 0px;
  padding-top: 6px;
}

.infoBox {
  grid-area: info-box;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;

  margin-top: 1px;
  margin-bottom: 10px;
  padding: 4px;
}

.textBox {
  /* border: 1px solid green; */
  margin-bottom: 5px;
}

#speaker {
  font-size: 18px;
}
#title {
  font-size: 20px;
}
#show {
  color: grey;
  font-size: 14px;
}


a {
  text-decoration: none;
  color: black;
}
a:link {
  color: black;
}
/* visited link */
a:visited {
}
/* mouse over link */
a:hover {
}
/* selected link */
a:active {
}

@media screen and (min-width: 1020px) {
  #speaker {
    font-size: 16px;
  }
  #title {
    font-size: 18px;
  }
}


/* .buttonTalk {
  background-color: white;
  color: #c47900;
  border: none;
  padding: 12px 8px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  margin: 00px 0px;
  cursor: pointer;
  width: 100%;
  min-height: 4em;
  border-radius: 2px;
  border: 1px solid #ffa205;
  display: inline-block;
  transition-duration: 0.4s; 
}

.buttonTalk:hover {
  background-color: #ffa205;
  color: white;
}

.buttonTalkSelected {
  background-color: #ffa205;
  color: white;
} */