.App {
  /* border: 1px solid grey; */
  margin: auto;
  margin-top: 0px;
  width: 95%;
  
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "header header"
    "video-player video-player"
    "drop-down drop-down"
    "show-list show-list"
    "talk-list talk-list"
  ;
}

.dropDown {
  grid-area: drop-down;
  margin-top: 30px;
  font-size: 18px;
}

.showListWrapper {
  grid-area: show-list;
  /* border: 1px solid red; */
  display: grid;
  grid-gap: .25em;
  grid-template-columns: 1fr 1fr;
}

.talkListWrapper {
  grid-area: talk-list;
}


@media screen and (min-width: 1020px) {
  .App {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header drop-down"
    "video-player video-player talk-list"
    ;
  }

  .showListWrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .talkListWrapper {
    height: 75vh;
    overflow-y: scroll;
    border: 1px #ccc solid;
    border-radius: 4px;
    padding: 15px;
  }
}