.App {
  /* border: 1px solid grey; */
  margin: auto;
  margin-top: 0px;
  width: 100%;

  background-color: white;
  
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "header header"
    "video-player video-player"
    "sidebar sidebar"
    "about about"
  ;
}

.dropDown {
  grid-area: drop-down;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 18px;
  width: 95%;
}

.showListWrapper {
  grid-area: show-list;
  /* border: 1px solid red; */
  display: grid;
  grid-gap: .25em;
  grid-template-columns: 1fr 1fr;
}

.talkListWrapper {
  grid-area: talk-list;
  margin: auto;
  width: 95%;
}

.sideBar {
  grid-area: sidebar;
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}



@media screen and (min-width: 1020px) {
  .App {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "video-player video-player sidebar"
    "about about about"
    ;
  }

  .dropDown {
    margin-top: 0px;
  }

  .sideBar {
    width: 100%;
    margin-left: -10px;
    margin-bottom: 20px;
  }

  .showListWrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .talkListWrapper {
    height: 700px;
    overflow-y: scroll;
    border: 1px #ccc solid;
    border-radius: 4px;
    padding: 0px;
    width: 100%;
    margin: auto;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .App {
    max-width: 1440px;
  }
}